.code-show {
  width           : calc(100% - 40px);
  height          : 200px;
  background-color: #282c34;
  padding         : 20px;
}

.table-show {
  width: 100%;

  table {
    display: table;
    width  : 100%;
    text-align: center;
    td{
      max-width: 147px;
    }
  }
}

.border-box-content {
  display        : flex;
  justify-content: center;
  align-items    : center;
  text-align     : center;
  color          : rgb(66, 185, 131);
  font-size      : 20px;
  font-weight    : bold;
}