.background{
  width: 100%;
  height: 100%;
  // position: relative!important;
  background-size: cover;
  overflow: hidden;
  z-index: -2;
  // background-image: var(--background-image);
}

.loop(@counter) when (@counter<=20) {
  .loop(@counter+1);
  @val:  ~'@{counter}.jpg';
  
  .background@{counter}{
    background-image: url('./bg/@{val}');
  }
}.loop(1);

.background-canvas{
  width: 100%;
  height: 100%;
  // position: relative!important;
  background-size: cover;
  overflow: hidden;
  z-index: -1;
}